h1,h2,h3,h4,p{
    color: black;
}
em{
    font-size:12px;    
    font-style: italic;    
    font-weight: 300;    
    color:gray;
}
p{
    text-align: center;
    text-shadow: 0.1px 0.1px 1px black;
    font-size: 18px;
    letter-spacing: 0.4px;
}