<div class="container-md px-0 mx-auto">
    <div class="row gx-0">
        <app-nav></app-nav>
    </div>
    <div class="row mt-3">
        <div class="col- col-lg-9">
            <router-outlet></router-outlet>
        </div>
        <div class="col- mt-3 mt-lg-0 col-lg-3">
            <app-right-banner></app-right-banner>
        </div>
    </div>
    <footer class="row mt-3">
        <div class="order-2 order-md-1 col- col-md-7 px-0 d-flex flex-column mt-4 mt-md-0">
            <app-footer2 class="h-100"></app-footer2>
        </div>
        <div class="col- order-1 order-md-2 col-md-5">
            <app-footer></app-footer>
        </div>
    </footer>
    <div class="row">
        <app-footer3></app-footer3>
    </div>
</div>
