<div class="container">
    <div class="row d-flex justify-content-between py-4 my-4 border-top text-center">
        <p [ngStyle]="{'fontSize':'11px'}">&copy; 2021 Developed and built by UCB.All rights reserved.</p>
        <ul class="list-unstyled d-flex justify-content-center">
            <li class="ms-3">
                <a target="_blank" class="link-dark fs-3" href="https://www.instagram.com/ugurcanbas_/"><i
                        class="fab fa-instagram iconSize">
                    </i>
                </a>
            </li>
            <li class="ms-3">
                <a target="_blank" class="link-dark fs-3" href="#">
                    <i class="fab fa-youtube iconSize">
                    </i>
                </a>
            </li>
            <li class="ms-3">
                <a target="_blank" class="link-dark fs-3" href="https://github.com/UCB52">
                    <i class="fab fa-github iconSize">
                    </i>
                </a>
            </li>
        </ul>
    </div>
</div>